<h1><%= @employee.name %></h1>

<p><strong>Department:</strong> <%= @employee.department %></p>
<p><strong>Email:</strong> <%= @employee.email %></p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', root_path %>
